body
{
    margin: 0;
    padding: 0;
    background-color: #ccbba6;
}
.top_nav
{
    overflow: hidden;
    background-color: #333;
    /* justify-content: space-around !important; */
}

.home
{
    background-color: #4CAF50;
}

.brand
{
    color: wheat !important;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    margin-top: 5px;
    font-size: 28px;
    font-family: 'Fira Sans', sans-serif !important;
    letter-spacing: 10px;
    text-align: center;
}

.top_nav a
{
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif !important;
    /* justify-content: center !important; */
}

.nav-item
{
    margin-top: 15px;
}
.home:hover
{
    background-color: green;
    transition: background-color 0.25s linear;
}
.nav-item:hover
{
    background-color: grey;
    transition: background-color 0.25s linear;
}

.insta
{
    padding-left: 5rem !important;
}

.head
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(63, 62, 62);
    letter-spacing: 2px;
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 800;
}

.headsmall
{
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    color: rgb(99, 94, 94);
    font-family: 'Roboto', sans-serif;
}
.head p
{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.upload
{
    /* background-color: green; */
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
}
.uploadlink
{
    text-decoration: none;
    background-color: red;
    padding: 2rem 3rem;
    font-family: 'Exo 2', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 30px;
    border-radius: 35px;
}

.uploadlink:hover
{
    background-color: rgb(194, 65, 65);
    border-radius: 45px;
    transition: border-radius 0.3s linear;
}

.topsection
{
    height: 50vh;
}

.inst
{
    height: 50vh;
    background-color: #7e776e;
    padding-top: 8rem;
    padding-left: 30rem;
}

.iconpdf
{
    font-size: 150px;
    float: left;
}
.info
{
    margin-left: 15rem;
    padding-left: 5rem;
}

.info li
{
    line-height: 3rem;
    font-family: 'Roboto', sans-serif;
}

.about
{
    background-color: #ccbba6;
    padding-top: 8rem;
    padding: 8rem 10rem;
    
}

.rowcontainer
{
    display: flex;
    padding-top: 5rem;
}

.rowitem
{
    background-color: goldenrod;
    padding: 2rem 2rem;
    margin: 0 1rem;
    text-align: center;
    border-radius: 10px;
}


.temp
{
    /* background-color: green; */
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: red;
    padding: 2rem 3rem;
    font-family: 'Exo 2', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 30px;
    border-radius: 35px;
}

.custom-file-upload:hover
{
    background-color: rgb(194, 65, 65);
    border-radius: 45px;
    transition: border-radius 0.3s linear;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.submit-button
{
    background-color: rgb(79, 87, 80);
  border: none;
  color: white;
  padding: 25px 32px;
  text-decoration: none;
  /* margin: 4px 2px; */
  cursor: pointer;
  padding-left: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: 'Exo 2', sans-serif;
  font-size: medium;
}

.submit-button:hover
{
    border-radius: 15px;
    transition: border-radius 0.2s linear;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}